<%- include ('./include/nav') %>

<div class="row mt-2">
  <div class="col-md-6 m-auto">
    <div class="row">
      <div class="col ">
        <h1 class="ml-2"> Message</h1>
      </div>
      <div class="col text-center mt-2">
        <% if (ret[0].online == 'Y') { %> 
          <h4><i data-toggle="tooltip" data-placement="top" title="ONLINE"> &#x1F49A</i> <%= ret[0].firstname %></h4>
        <% } else { %>
          <h4><i data-toggle="tooltip" data-placement="top" title="LAST SEEN: <%- ret[0].lastOn %>">&#x1F494</i> <%= ret[0].firstname %></h4>
        <% } %>
      </div>
    </div>
  </div>
</div>
<div class="row ">
  </div>
    <div class="col-md-6 ml-2 m-auto">
        <div class="card card-body">
            <%- include('./partials/messages') %>
            <div class="card card-body" style="overflow-y:auto; height:400px">
              <% if (session.username == result[0].sender) { %>
                <div id="chatMessage" class="alert alert-primary">
                  <p ><strong><%= result[0].sender %></strong> <span><%= result[0].date %></span></p>
                  <p class="">
                    <%= result[0].message %>
                  </p>
                </div>
              <% } else  { %>
                <div id="chatMessage" class="alert alert-secondary">
                  <p ><strong><%= result[0].sender %></strong> <span><%= result[0].date %></span></p>
                  <p class="">
                    <%= result[0].message %>
                  </p>
                </div>
              <% } %>
            </div>
            <form id="chat-form">
              <input id="sender" type="hidden" name="sender" value="<%- session.username %>">
              <input id="receiver" type="hidden" name="viewToken" value="<%- ret[0].username %>">
              <div class="form-group mt-2 grey-border-focus">
                  <textarea id="message" style="overflow:auto;resize:none;" class="form-control" name="message" cols="10" rows="3"
                  placeholder="Message..."></textarea>
              </div>
              <br>
              <button id="send" class="btn btn-primary btn-block">Send</button>
            </form>
        </div>
    </div>
</div>
<%- include ('./include/footer') %>