<%- include ('./include/nav')%>
<%- include ('./include/notification')%>
<center>
    <% if(result[0].extProfComp != 1){%>
      <center>
        <div class="m-3">
          <strong><p>Please complete your extended profile to enjoy the site's full features</p></strong>
          <a href="/updateProfile">Update Profile</a>
        </div> 
      </center>
    <%}%>
    <% if(result[0].extProfComp == 1){%>
        <div class="row mt-5">
          <p id="session" hidden><%- session.username %></p>
                <div class="col-md-6 m-auto">
                    <div class="card card-body mt-4">
                        <h1><span class="far fa-id-badge"></span> Profile</h1>
                        <br><br><h2><%- result[0].username%></h2><br>
                        <%if(result[0].profilePicture == "") {%>
                            <img src="default.jpg" alt="default-avatar" style="width: 250px; height: 250px; border-radius: 50%; border: solid 2px lightgray">
                        <%}else{%>
                          <% if (result[0].profilePicture.match(/userPic/g)) { %>
                            <img src="/<%= result[0].profilePicture %>" class="img-responsive hover-shadow cursor" alt="" style="width: 250px; height: 250px; border-radius: 50%; border: 2px solid lightgray;" onclick="openModal();currentSlide(1)">
                          <% } else { %>
                            <img src="<%= result[0].profilePicture %>" class="img-responsive hover-shadow cursor" alt="" style="width: 250px; height: 250px; border-radius: 50%; border: 2px solid lightgray;" onclick="openModal();currentSlide(1)">
                          <% } %>
                        <%}%>
                        <div class="d-flex flex-row mt-2 justify-content-center">
                          <% if(result[0].pic1){%>
                              <img src="/<%= result[0].pic1 %>" alt="" class="m-1" style="width: 100px; height: 100px; border: solid 2px lightgray">
                          <%}%>
                          <% if(result[0].pic2){%>
                              <img src="/<%= result[0].pic2 %>" alt="" class="m-1" style="width: 100px; height: 100px; border: solid 2px lightgray">
                          <%}%>
                          <% if(result[0].pic3){%>
                              <img src="/<%= result[0].pic3 %>" alt="" class="m-1" style="width: 100px; height: 100px; border: solid 2px lightgray">
                          <%}%>
                          <% if(result[0].pic4){%>
                              <img src="/<%= result[0].pic4 %>" alt="" class="m-1" style="width: 100px; height: 100px; border: solid 2px lightgray">
                          <%}%>
                      </div>
                        <br><br><div class="list-group">
                            <p class="list-group-item" >First Name: <strong><%- result[0].firstname%></strong></p>
                            <p class="list-group-item">Last Name: <strong><%- result[0].lastname%></strong></p>
                            <p class="list-group-item">Gender: <strong><%- result[0].gender%></strong></p>
                            <p class="list-group-item">Sexual Orientation: <strong><%- result[0].sexualOrientation%></strong></p>
                            <p class="list-group-item">Age: <strong><%- result[0].age%></strong></p>
                            <p class="list-group-item">City: <strong><%-result[0].city%></strong></p>
                            <div class="list-group-item"> 
                                <p >Interests: </p>
                                <strong>
                                        <%- result[0].interest1%>&nbsp;&nbsp;
                                        <%- result[0].interest2%>&nbsp;&nbsp;
                                        <%- result[0].interest3%>&nbsp;&nbsp;
                                        <%- result[0].interest4%>
                                </strong>
                            </div>

                            <p class="list-group-item">Bio: <strong><%- result[0].bio%></strong></p>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</center>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketEvents.js"></script>
<%- include ('./include/footer')%>