<% if (session.suspended == 1) { %>
  <%- include ('./include/nav')%>
  <div class="ml-3">
      <br><br>
      <p>Following a report, your account has been suspended and is currently under review, please be patient while we evaluate all the facts.</p><br><br>
  </div>
<% } else { %>
  <% if (session.username == 'admin') { %>
    <%-include ('./include/adminNav')%>
  <% } %>

  <% if (session.username != 'admin') { %>
    <%-include ('./include/nav')%>
    <%- include ('./include/notification')%>

  <% } %>

<center>
    <% if(session.extProfComp != 1) { %>
        <br><br><p>Please complete your extended profile to enjoy the site's full features</p>
        <a href="/updateProfile">Update Profile</a>
        <br><br>
    <% } %>

    <div class="container mt-2">
      <p id="session" hidden><%- session.username %></p>
        <div class="card">
        <% if (session.extProfComp == 1 ){ %>
        <div class="row mt-5">
            <div class="col-md-6 m-auto">
                <br><br>
                <% if(!result[0].profilePicture){ %>
                    <img src="/default.jpg" class="img-responsive" alt="" style="width: 250px; height: 250px; border-radius: 50%; border: 2px solid lightgray;">
                <%}else { %>
                  <% if (result[0].profilePicture.match(/userPic/g)) { %>
                    <img src="/<%= result[0].profilePicture %>" class="img-responsive hover-shadow cursor" alt="" style="width: 250px; height: 250px; border-radius: 50%; border: 2px solid lightgray;" onclick="openModal();currentSlide(1)">
                  <% } else { %>
                    <img src="<%= result[0].profilePicture %>" class="img-responsive hover-shadow cursor" alt="" style="width: 250px; height: 250px; border-radius: 50%; border: 2px solid lightgray;" onclick="openModal();currentSlide(1)">
                  <% } %>
                <%} %>
                <br>
                <div class="row mt-4">
                    <div class="column m-1 m-auto">
                        <% if(result[0].pic1 != ""){%>
                            <img src="/<%= result[0].pic1 %>" alt="" style="width: 100px; height: 100px; border: solid 2px lightgray" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
                        <%}%>
                    </div>
                    <div class="column m-1 m-auto">
                            <% if(result[0].pic2 != ""){%>
                                <img src="/<%= result[0].pic2 %>" alt="" style="width: 100px; height: 100px; border: solid 2px lightgray" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
                            <%}%>
                    </div>
                    <div class="column m-1 m-auto">
                            <% if(result[0].pic3 != ""){%>
                                <img src="/<%= result[0].pic3 %>" alt="" style="width: 100px; height: 100px; border: solid 2px lightgray" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
                            <%}%>
                    </div>
                    <div class="column m-1 m-auto">
                            <% if(result[0].pic4 != ""){%>
                                <img src="/<%= result[0].pic4 %>" alt="" style="width: 100px; height: 100px; border: solid 2px lightgray" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
                            <%}%>
                    </div>
                </div>
                <center>
                    <div id="myModal" class="modal m-1">
                        <span class="close cursor" onclick="closeModal()">&times;</span>
                        <div class="modal-content m-2">
                            
                            <div class="mySlides mt-2">
                            <div class="numbertext">1 / 5</div>
                                <%if(result[0].profilePicture){ %>
                                  <% if (result[0].profilePicture.match(/userPic/g)) { %>
                                    <img src="/<%= result[0].profilePicture %>" style="width:50%">
                                  <% } else { %>
                                    <img src="<%= result[0].profilePicture %>" style="width:50%">
                                  <% } %>
                                <%}%>
                            </div>

                            <div class="mySlides">
                            <div class="numbertext">2 / 5</div>
                                <%if(result[0].pic1 != ""){%>
                                    <img src="/<%= result[0].pic1 %>" style="width:50%">
                                <%}%>
                            </div>
                        
                            <div class="mySlides">
                            <div class="numbertext">3 / 5</div>
                                <%if(result[0].pic2 != ""){%>
                                    <img src="/<%= result[0].pic2 %>" style="width:50%">
                                <%}%>
                            </div>
                        
                            <div class="mySlides">
                            <div class="numbertext">4 / 5</div>
                                <%if(result[0].pic3 != ""){%>
                                    <img src="/<%= result[0].pic3 %>" style="width:50%">
                                <%}%>
                            </div>
                            
                            <div class="mySlides">
                            <div class="numbertext">5 / 5</div>
                                <%if(result[0].pic4 != ""){%>
                                    <img src="/<%= result[0].pic4 %>" style="width:50%">
                                <%}%>
                            </div>
                            
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                            
                            <div class="row m-3">
                                <%if(result[0].profilePicture){ %>
                                    <div class="column">
                                      <% if (result[0].profilePicture.match(/userPic/g)) { %>
                                        <img class="demo cursor" src="/<%= result[0].profilePicture %>" style="width:50%" onclick="currentSlide(1)" alt="">
                                      <% } else { %>
                                        <img class="demo cursor" src="<%= result[0].profilePicture %>" style="width:50%" onclick="currentSlide(1)" alt="">
                                      <% } %>
                                    </div>
                                <%}%>
                                <%if(result[0].pic1 != ""){%>
                                    <div class="column">
                                        <img class="demo cursor" src="/<%= result[0].pic1 %>" style="width:50%" onclick="currentSlide(2)" alt="">
                                    </div>
                                <%}%>
                                <%if(result[0].pic2 != ""){%>
                                    <div class="column">
                                    <img class="demo cursor" src="/<%= result[0].pic2 %>" style="width:50%" onclick="currentSlide(3)" alt="">
                                    </div>
                                <%}%>
                                <%if(result[0].pic3 != ""){%>
                                    <div class="column">
                                        <img class="demo cursor" src="/<%= result[0].pic3 %>" style="width:50%" onclick="currentSlide(4)" alt="">
                                    </div>
                                <%}%>
                                <%if(result[0].pic4 != ""){%>
                                    <div class="column">
                                        <img class="demo cursor" src="/<%= result[0].pic4 %>" style="width:50%" onclick="currentSlide(5)" alt="">
                                    </div>
                                <%}%>
                            </div>

                        </div>
                    </div>
                </center>

                <div class="other padd_bot">
                    <hr>
                    <p>User Name: <strong><%= result[0].username %></strong></p><hr>
                    <p>First Name: <strong><%= result[0].firstname %></strong></p><hr>
                    <p>Last Name: <strong><%= result[0].lastname %></strong></p><hr>
                    <p>Gender: <strong><%= result[0].gender %></strong></p><hr>
                    <p>Sexual Orientation: <strong><%= result[0].sexualOrientation %></strong></p><hr>
                    <p>Age: <strong><%= result[0].age %></strong></p><hr>
                    <p>City: <strong><%= result[0].city %></strong></p><hr>
                    <p>Bio: <strong><%= result[0].bio %></strong></p><hr>
                    <p>Interests: <strong><%= result[0].interest1 %> <%= result[0].interest2 %> <%= result[0].interest3 %> <%= result[0].interest4 %></strong></p><hr>
                </div>
            </div>
        </div>
        <% } %>
        </div>
    </div>
    </div>
</center>
<%-include ('./include/gallery')%>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketEvents.js"></script>
<% } %>
<%- include ('./include/footer')%>