<%- include('./include/adminNav')%>
<center>
    <br><strong><h3>Complaint About</h3></strong>
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <% if (!ret2[0].profilePicture) { %>
                    <img src="/default.jpg" alt="" class="img-thumbnail rounded-circle mb-3" style="filter: blur(8px);">
                <% } else { %>
                    <% if (ret2[0].profilePicture.match(/userPic/g)) { %>
                        <img src="/<%= result[i].profilePicture %>" alt="" class="img-thumbnail rounded-circle mb-3" style="filter: blur(8px);">
                    <% } else {%>
                        <img src="<%= result[i].profilePicture %>" alt="" class="img-thumbnail rounded-circle mb-3" style="filter: blur(8px);">
                    <% } %>
                <% } %>
                <p>User Name: <strong><%= ret2[0].userName %></strong></p>
                <p>First Name: <strong><%= ret2[0].firstName %></strong></p>
                <p>Last Name: <strong><%= ret2[0].lastName %></strong></p>
                <div class="d-flex flex-row justify-content-center">
                    <div class="p-3">
                        <a href="/suspendAcc/<%- ret2[0]._id %>">
                            <i data-toggle="tooltip" data-placement="top" title="Suspend Account" class="fa fa-balance-scale"></i>
                        </a>
                    </div>
                    <div class="p-3">
                        <a href="/deleteAcc2/<%- o._id %>">
                            <i data-toggle="tooltip" data-placement="top" title="Delete Account" class="fa fa-ban"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><strong><h3>Requester</h3></strong>
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <% if (!ret1[0].profilePicture) { %>
                    <img src="/default.jpg" alt="" class="img-thumbnail rounded-circle mb-3" style="filter: blur(8px);">
                <% } else { %>
                    <% if (ret1[0].profilePicture.match(/userPic/g)) { %>
                        <img src="/<%= ret1[0].profilePicture %>" alt="" class="img-thumbnail rounded-circle mb-3" style="filter: blur(8px);">
                    <% } else {%>
                        <img src="<%= ret1[0].profilePicture %>" alt="" class="img-thumbnail rounded-circle mb-3" style="filter: blur(8px);">
                    <% } %>
                <% } %>
                <p>User Name: <strong><%= ret1[0].userName %></strong></p>
                <p>First Name: <strong><%= ret1[0].firstName %></strong></p>
                <p>Last Name: <strong><%= ret1[0].lastName %></strong></p>
            </div>
        </div>
    </div>
</center>